body {
    font-family: Tahoma, sans-serif;
    direction: rtl;
    text-align: right;
    background-color: #f8f9fa;
}

.form-container {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-login {
    background-color: transparent;
    border: 2px solid black;
    color: black;
    padding: 5px 15px;
    border-radius: 20px;
    transition: 0.3s;
    width: 100%;
}

    .btn-login:hover {
        background-color: black;
        color: white;
    }

.btn-signup {
    background-color: #f8b400;
    border: none;
    padding: 6px 18px;
    border-radius: 20px;
    color: black;
    transition: 0.3s;
    width: 100%;
}

    .btn-signup:hover {
        background-color: #e09e00;
    }

.toggle-link {
    text-align: center;
    display: block;
    margin-top: 10px;
    color: #007bff;
    cursor: pointer;
}
